#header{
	position: absolute;
	background-color: #262c36;
	margin-bottom: 20px;
	width: 98vw;
	height: auto;
	border-radius: 5px 5px 5px 5px;
	z-index: 6;
}

#header-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
	z-index: 8;
}

#header-button:hover{
	background-color:#304b6b;
}

#import-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
}

#import-button:hover{
	background-color:#304b6b;
}

#export-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
}

#export-button:hover{
	background-color:#304b6b;
}
#file-dialog{
	display: none;
}

#bottom-bar-butts{
	background-color: #304b6b;
	color: white;
	margin-left: 5px;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	border: none;
	margin-top: 5px;
	box-shadow: 0 3px 3px 0 black;

}

#bottom-bar-butts:hover{
	background-color: #6a4d31;
}

#circlenode{
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid black;
	background-color: white;
	width: fit-content; 
	height: fit-content; 
	border-radius: 50%;
}

#OriginDiv{
	width: 20px;
	height: 20px;
}

#originNode{
	position: absolute;
	width: 10px;
	height: 10px;
	outline: 1px solid red;
	border-radius: 50%;
	top: 0;
	left: 0;
}

#line-bottom{
	position: absolute;
	margin-top: 8px;
	margin-left: 4.5px;
	width: 1px;
	height: 8px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: 0;
}

#line-right{
	position: absolute;
	margin-left: 8px;
	margin-top: 5px;
	width: 8px;
	height: 1px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: 0;
}

#line-left{
	position: absolute;
	margin-right: 8px;
	margin-top: 5px;
	width: 8px;
	height: 1px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: -30%;
}


#line-top{
	position: absolute;
	margin-top: 5px;
	width: 1px;
	height: 8px;
	background-color: black;
	z-index: 1;
	top: -50%;
	left: 22%;
}

#input{
	width: 100px;
	border-radius: 20px;
}

#textarea{
	width: 50px;
	border-radius: 10px;
}
#rectangle{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid black;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	background-color: white;

}


/* Container needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  min-width: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  height: 0px;
  overflow: hidden;
  transition: height 2s ease;
}

.dropdown-content button {
  background-color: #262c36;
  color: white;
  padding: 5px 16px;
  font-size: 10px;
  text-decoration: none;
  border: none;
  display: block;
  border-radius: 0px 0px 1px 1px;
  height: 0px;
  overflow: hidden;
  transition: height 2s ease;
}

.dropdown-content button:hover {
	background-color: #304b6b;
}

#nodes{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23.5vw;
	height: 40px;
	background-color: #304b6b;
	border-radius: 20px;
	z-index: 1;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
}



#butt{
	color: white;
	background-color: #304b6b;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

#butt:hover{
	background-color: #6a4d31;
}

#nodes-list{
	border-radius: 20px 20px 0px 0px;
	flex-direction: column;
	margin-left: 2.6vw;
	width: 18vw;
	height: 0px;
	background-color: #2F3A47;
	overflow: auto;
	transition: height 2s ease;
	box-shadow: 0 3px 3px 3px rgba(0, 0.5, 0.5, 0.5); 
}

#coordinates{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 15vw;
	height: 35px;
	background-color: #304b6b;
	border-radius: 20px;
}

#coordX{
	margin-right: 10px;
}

#coordXInput{
	width: 50px;
	height: 10px;
	border-radius: 5px;
}

#d{
	display: inline-block;
}
