#header{
	position: absolute;
	background-color: #262c36;
	margin-bottom: 20px;
	width: 98vw;
	height: auto;
	border-radius: 5px 5px 1px 1px;
}

#header-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
}

#header-button:hover{
	background-color:#304b6b;
}

#import-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
}

#import-button:hover{
	background-color:#304b6b;
}

#export-button{
	position: relative;
	background-color: #262c36;
	color: white;
	margin-bottom: 8px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
}

#export-button:hover{
	background-color:#304b6b;
}
#file-dialog{
	display: none;
}

#parent-sidebar{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: auto;
	background-color: #362e26;
	position: relative;
}

#bottom-sidebar{
	width: 1350px; 
	height: 115px;

	margin-top: 415px;
	padding-left: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
	position: absolute;
}

#bottom-bar-butts{
	background-color: #304b6b;
	color: white;
	margin-top: 25px;
	margin-left: 55vh;
	height: 50px;
	width: 165px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 3px 10px 0 black;

}

#bottom-bar-butts:hover{
	background-color: #6a4d31;
}

#circlenode{
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid black;
	background-color: white;
	width: fit-content; 
	height: fit-content; 
	border-radius: 50%;
}

#OriginDiv{
	width: 20px;
	height: 20px;
}

#originNode{
	position: absolute;
	width: 10px;
	height: 10px;
	outline: 1px solid red;
	border-radius: 50%;
	top: 0;
	left: 0;
}

#line-bottom{
	position: absolute;
	margin-top: 8px;
	margin-left: 4.5px;
	width: 1px;
	height: 8px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: 0;
}

#line-right{
	position: absolute;
	margin-left: 8px;
	margin-top: 5px;
	width: 8px;
	height: 1px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: 0;
}

#line-left{
	position: absolute;
	margin-right: 8px;
	margin-top: 5px;
	width: 8px;
	height: 1px;
	background-color: black;
	z-index: 1;
	top: 0;
	left: -30%;
}


#line-top{
	position: absolute;
	margin-top: 5px;
	width: 1px;
	height: 8px;
	background-color: black;
	z-index: 1;
	top: -50%;
	left: 22%;
}

#input{
	width: 100px;
}

#textarea{
	width: 50px;
}
#rectangle{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid black;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	background-color: white;

}

#divs{
	display: inline-block;
	margin-top: 26px;
	margin-left: 12px;
}

#div-contain{
	pointer-events: none;
	display: inline-block;
	margin-top: 30px;
	margin-left: 12px;
	width: 60px;
	height: 50px; 
	background-color: blue;
}

#export-bar{
	border: none;
	width: 60px;
}

/* Container needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 80px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
  background-color: #262c36;
  color: white;
  padding: 5px 16px;
  font-size: 10px;
  text-decoration: none;
  border: none;
  display: block;
  border-radius: 0px 0px 1px 1px;
}

.dropdown-content button:hover {
background-color: #304b6b;
}
